<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <title>xsolla-frontend-school-2020</title>
    </head>
    <body>
        <div class="wrapper-full">
            <div class="concerts" id="addVue">
                 <div class="concerts-wrapper">
                     <h1 class="header-concert">Event Listing</h1>
                     <div class="select">
                         <div class="select-city">
                             <p class="select-h h-mobile">City:</p>
                             <select class="select-list" v-model="citySelected">
                                 <option selected="selected">All</option>
                                 <option>Amsterdam</option>
                                 <option>Sr.Petersburg</option>
                                 <option>Berlin</option>
                                 <option>Rim</option>
                             </select>
                         </div>

                         <div class="select-moth" >
                             <p class="select-h">Month:</p>
                             <select class="select-list" v-model="monthSelect">
                                 <option selected="selected">All</option>
                                 <option>January</option>
                                 <option>February</option>
                                 <option>March</option>
                                 <option>April</option>
                                 <option>May</option>
                                 <option>June</option>
                                 <option>July</option>
                                 <option>August</option>
                                 <option>September</option>
                                 <option>October</option>
                                 <option>November</option>
                                 <option>December</option>
                             </select>
                         </div>
                     </div>

                 <div class="top-concerts-cards">
                     <concert  v-for="(concert,i) in sortedArray" :id="concert.id" :src="concert.image" :name = "concert.name" :date = "concert.date.substring(0, 2)"></concert>
                 </div>
                 </div>
            </div>
        </div>
        <script src="./js/main.js"></script>
    </body>
</html>