    * {
        padding: 0;
        margin: 0;
    }

    body {
        background: #F0F3FF;
    }




    .concerts {
        width: 1440px;
        height: 1218px;

        background: #FFFFFF;
        box-shadow: 0 16px 32px rgba(0, 0, 0, 0.12);
        border-radius: 16px;
    }

    .wrapper-full {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        overflow: hidden;
        background: #F0F3FF;
    }

    .concerts-wrapper {
        padding: 100px 100px 100px 80px;

    }

    /*.header {*/
    /*    width: 297px;*/
    /*    height: 66px;*/
    /*}*/

    .header-concert {
        font-family: Arial;
        font-style: normal;
        font-weight: 900;
        font-size: 48px;
        line-height: 66px;
        margin-bottom: 40px;

        color: #2E282C;
    }

    .select {
        display: flex;
        margin-bottom: 42px;
    }

    .select-city {
        display: flex;
        flex-direction: row;
        margin-right: 20px;
    }

    .select-moth {
        display: flex;
        flex-direction: row;
    }

    .select-h {


        font-family: Arial;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 33px;
        align-self: center;
        color: #2E282C;
        margin-right: 20px;
    }

    .select-list {
        width: 200px;
        height: 50px;

        border: 1px solid #444444;
        box-sizing: border-box;
        border-radius: 6px;

        font-weight: 500;
        font-size: 24px;
        line-height: 33px;

    }


    .top-concerts-cards {
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
        grid-column-gap: 40px;
        grid-row-gap: 40px;
    }

    .top-concerts-card {
        display: flex;
        grid-column: span 2;
    }

    .card-pic {
        position: relative;
    }

    .card-thumb {
        max-width: 100%;
        height: auto;
    }

    .icon-top {
        position: absolute;
        width: 14px;
        height: 18px;
        top: 40px;
        right: 41px;
    }

    .icon-top-svg {
        width: 14px;
        height: 18px;

    }

    .card-pic__title {
        position: absolute;
       bottom: 42px;
        left: 40px;
        width: 405px;
        height: 66px;

        font-family: Avenir;
        font-style: normal;
        font-weight: 900;
        font-size: 48px;
        line-height: 66px;
        /* identical to box height */


        color: #FFFFFF;
    }

    .number {
        position: absolute;
        width: 80px;
        height: 80px;
        top: 40px;
        left: 40px;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 66px;

        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;

        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 6px;

    }

    @media screen and (max-width:900px) {
        .top-concerts-cards {
            display: flex !important;
            flex-direction: column !important;;
            align-items: center !important;
        }

        }





    @media screen and (max-width:906px) {


        .select {
            display: flex;
            margin-bottom: 42px;
            flex-wrap: wrap;
        }

        .wrapper-full {
            width: 100%;
            position: relative;
        }

        .concerts {
            height: auto;
            margin: 0 15px;
        }

        .concerts-wrapper {
            padding: 20px;
        }

        .top-concerts-cards {
            display: flex;
            flex-direction: column;
        }

        .card-pic__title {
            font-size: 35px;
            bottom: 5px;
            left: 20px !important;
        }

        .number {
            width: 60px;
            height: 60px;
            font-size: 33px;
        }

        .header-concert {
            font-size: 40px;
        }
    }

    @media screen and (max-width:651px) {
        .select-city {
            margin-right: 20px;
            margin-bottom: 15px;
        }
        .h-mobile {
            margin-right: 44px;;
        }
    }




    @media screen and (max-width:1271px) {
        .top-concerts-cards {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            grid-column-gap: 20px;
            grid-row-gap: 20px;
        }

        .wrapper-full {
            width: 100%;
            height: auto;
            position: inherit;
        }

        .card-pic__title {
            font-size: 40px;
        }

    }
